:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%
}

body {
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  min-height: 80px;
  width: 100%;
  background-repeat: repeat-x;
}

.header {
  background-image: url("../public/glaze.svg");
}

.footer {
  background-image: url("../public/glaze-inverted.svg");
}

.logo {
  max-width: 320px;
}

.main {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: center;
  align-items: center;

}

.game-container {
  min-width: 320px;
  min-height: 426px;
  max-width: 768px;
  max-height: 1024px;
}

.main-canvas {
  border-radius: 20px;
}

